.bg-custom
{
background:#FB8138;
}
.navbar-nav li{
	padding:0px 30px;
}
.gap
{
	padding:90px 0px;
}
.text-custom{
	color:#FB8138;
}
.even
{
	background:#EFD8BC;
}
.txt
{
	color:purple;
	
}



